<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface" />
  <arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
  <arg name="attach_hand" default="false"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur5_robot_stevens.urdf.xacro'
    transmission_hw_interface:=$(arg transmission_hw_interface)
    kinematics_config:=$(arg kinematics_config) 
    attach_hand:=$(arg attach_hand)
    limited:=$(arg limited)"/>
</launch>
