<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="attach_hand" default="false" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur_gazebo)/worlds/coke_on_table.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="physics" value="ode"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find ur_description)/launch/ur5_upload_stevens.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="attach_hand" value="$(arg attach_hand)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -param robot_description -model robot -x 0.5 -z 1.02"  />

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5_stevens.yaml" command="load"/>
  <rosparam file="$(find ur_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <node name="arm_trajectory_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" respawn="false" output="screen"/>
  <node name="arm_position_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="spawner"
      args="--stopped
            shoulder_pan_position_controller
            shoulder_lift_position_controller
            elbow_position_controller
            wrist_1_position_controller
            wrist_2_position_controller
            wrist_3_position_controller"/>

  <group if="$(arg attach_hand)">
    <rosparam file="$(find nasa_hand_control)/config/nasa_hand_control.yaml" command="load"/>

    <node name="hand_position_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="spawner"
            args="thumb_prox_joint_position_controller 
                  thumb_dist_joint_position_controller       
                  finger1_roll_joint_position_controller       
                  finger1_prox_joint_position_controller       
                  finger1_dist_joint_position_controller       
                  finger2_roll_joint_position_controller       
                  finger2_prox_joint_position_controller       
                  finger2_dist_joint_position_controller"/>

    <node name="hand_effort_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="spawner"
          args="--stopped
                thumb_prox_joint_effort_controller 
                thumb_dist_joint_effort_controller       
                finger1_roll_joint_effort_controller       
                finger1_prox_joint_effort_controller       
                finger1_dist_joint_effort_controller       
                finger2_roll_joint_effort_controller       
                finger2_prox_joint_effort_controller       
                finger2_dist_joint_effort_controller"/>
  </group>

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_stevens.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="sim" value="true"/>
    <arg name="attach_hand" value="$(arg attach_hand)"/>
  </include> 

  <arg name="start_delay_seconds" default="10"/>
  <node name="home_the_arm" pkg="ur_gazebo" type="home_robot.py" output="log" respawn="false" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@'"/>
</launch>
